<div class="footer-container">
  <div class='container'>
    <div class='row'>
      <div class='col-12 col-md-4'>
        <div class='pr-lg-5'>
          <h4 class='title text-uppercase'>
            NameThis
          </h4>
        </div>
      </div>




    <hr />
    <div class='copyrights-text d-flex align-items-center'>
      <span class>
        © 2020
        <a routerLink='/login' class='footer-link' target='_blank'>
          NameThis
        </a>
        . All rights reserved.
      </span>
      <ul class='nav ml-lg-auto'>
        <li class='nav-item'>
          <a class='nav-link' href='https://github.com/'>
            <i class='fab fa-github'></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>
