.navbar-button {
  border-radius: 20px;
  background-color: #28a745;
  color: white;
}

.title {
  font-weight: bolder;
  font-size: xx-large;
  margin-left: 20px;
  margin-top: 0px;
}

.header-options {
  font-weight: bolder;
  color: white !important;
}

button:hover {
  color: white;
}

.navbar-toggler, .nav-item {
  padding: 0.4rem 1.2rem 0px 1.2rem;
}

a {
  color: white;
}

.ham-icon {
  font-size: xx-large;
}

