<div class="login-container">
  <div class="login-container-header">
    <app-header></app-header>
  </div>
  <div class="container-fluid login-page">
    <div class="row">
      <div class="col-lg-5 image">

      </div>
      <div class="col-lg-7 d-flex justify-content-center">
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="col-lg-6 login-form">
          <h5 class="d-flex justify-content-center form-title">Login to your account</h5>
          <div class="login-form-input">
            <div class="form-group form-input">
              <label for="email">Email address</label>
              <input type="email" class="form-control" placeholder="YourEmail@Example.com"
              formControlName="email" [ngClass]="{ 'is-invalid': loginForm.controls['email'].touched && loginForm.controls['email'].invalid }" required>
            </div>
            <div class="form-group form-input">
              <label for="password">Password</label>
              <input type="password" class="form-control" placeholder="Your Password"
              formControlName="password" [ngClass]="{ 'is-invalid': loginForm.controls['password'].touched && loginForm.controls['password'].invalid }" required>
            </div>
            <div class="form-group form-button">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
