.loan-main-dashboard {
  background-color: #16161a;
  color: white;
}
.info-container {
  margin-top: 100px;
}

.table-header {
  text-align: center;
  margin: 50px 0px 50px 0px;
}

.table {
  font-size: 20px;
}

button {
  border-radius: 20px;
}
