<div class="loan-main-dashboard">
  <div>
    <app-header></app-header>
  </div>
  <div class="info-container">
    <div class="container">
      <h1>Loan Processor Dashboard</h1>
      <div class="table-header">
        <h3>List of Customers</h3>
      </div>
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">Index</th>
            <th scope="col">Name</th>
            <th scope="col">Account Aggregator ID</th>
            <th scope="col">Consent Received</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of customers; let i=index;">
            <th scope="row">{{i + 1}}</th>
            <td>{{data.name}}</td>
            <td>{{data.accountAggregatorId}}</td>
            <td><p class="text-success" [ngClass]="{ 'text-danger': data.consentReceived.toUpperCase() == 'NO'}">{{data.consentReceived}}</p></td>
            <td>
              <button type="button" class="btn btn-success px-3" onclick="window.location.href='LPCustomerDetails.html'" [ngClass]="{ 'disabled': data.consentReceived.toUpperCase() == 'NO'}">
                Proceess
              </button>
              &nbsp;&nbsp;
              <button type="button" class="btn btn-danger px-3" onclick="window.location.href='LoanConfiguration.html'" [ngClass]="{ 'disabled': data.consentReceived.toUpperCase() == 'NO'}">
                Configure
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</div>
